# /***************************************************************************
#  QGIS plugin 'Graphium'
# /***************************************************************************
#  *
#  * Copyright 2020 Simon Gröchenig @ Salzburg Research
#  * eMail     graphium@salzburgresearch.at
#  *
#  * Licensed under the Apache License, Version 2.0 (the "License");
#  * you may not use this file except in compliance with the License.
#  * You may obtain a copy of the License at
#  *
#  *     http://www.apache.org/licenses/LICENSE-2.0
#  *
#  * Unless required by applicable law or agreed to in writing, software
#  * distributed under the License is distributed on an "AS IS" BASIS,
#  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  * See the License for the specific language governing permissions and
#  * limitations under the License.
#  *
#  ***************************************************************************/
# 
# 
# You can install pb_tool using:
#  pip install http://geoapt.net/files/pb_tool.zip
# 
# Consider doing your development (and install of pb_tool) in a virtualenv.
# 
# For details on setting up and using pb_tool, see:
#  http://spatialgalaxy.net/qgis-plugin-development-with-pb_tool
#
# Issues and pull requests here:
# https://github.com/g-sherman/plugin_build_tool:
# 
# Sane defaults for your plugin generated by the Plugin Builder are
# already set below.
# 
# As you add Python source files and UI files to your plugin, add
# them to the appropriate [files] section below.

[plugin]
# Name of the plugin. This is the name of the directory that will
# be created in .qgis2/python/plugins
name: Graphium
plugin_path:

[files]
# Python  files that should be deployed with the plugin
python_files: __init__.py graphium_qgis.py

# The main dialog file that is loaded (not compiled)
main_dialog:

# Other ui files for dialogs you create (these will be compiled)
compiled_ui_files:

# Resource file(s) that will be compiled
resource_files: resources.qrc

# Other files required for the plugin
extras: metadata.txt README.md LICENSE

# Other directories to be deployed with the plugin.
# These must be subdirectories under the plugin directory
extra_dirs: graphium icons

# ISO code(s) for any locales (translations), separated by spaces.
# Corresponding .ts files must exist in the i18n directory
locales: de

[help]
# the built help directory that should be deployed with the plugin
dir: help/build/html
# the name of the directory to target in the deployed plugin 
target: help

